.dotCollision {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3ea6ff;
    color: #3ea6ff;
  }
  .dotCollision::before, .dotCollision::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .dotCollision::before {
    left: -10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3ea6ff;
    color: #3ea6ff;
    animation: dot-collision-before 2s infinite ease-in;
  }
  .dotCollision::after {
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3ea6ff;
    color: #3ea6ff;
    animation: dot-collision-after 2s infinite ease-in;
    animation-delay: 1s;
  }
  
  @keyframes dot-collision-before {
    0%, 50%, 75%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-15px);
    }
  }
  @keyframes dot-collision-after {
    0%, 50%, 75%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(15px);
    }
  }